.DS_Store
.idea
.docker
/api
/frontend

############################
#Eclipse Specific GitIgnore#
############################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
db.sqlite3

# CDT-specific
.cproject
